/* src/App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e0f7e9; /* Light green background */
}

main {
  padding-top: 0; /* Ensure no white space below navbar */
  flex: 1;
}

/* Remove unused styles */
.App-logo,
.App-header,
.App-link {
  display: none;
}